<div class="popup-container">
    <div class="popup-content">
      <h2>Recuperar Contraseña</h2>
      <form (ngSubmit)="onSubmit()">
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" [value]="email" disabled />
  
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" [value]="username" disabled />
  
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required />
  
        <button class="btn-submit" type="submit">Actualizar contraseña</button>
        <button class="btn-submit" type="button" (click)="cancel()">Cancelar</button>
      </form>
    </div>
  </div>
  