<div class="nivel-container">
  <button class="volver" (click)="router.navigate(['/nivelesNinos'])">◀ VOLVER</button>

  <h1>¡BIENVENIDO AL NIVEL 1!</h1>

  <div class="prueba">
    <div class="text">
      <h2>¿Qué es un programa?</h2>
      <p>Un programa es como una receta que le dice al ordenador qué hacer.</p>
      <p>Por ejemplo, si le dices a tu ordenador que te dibuje un sol, el programa lo hace.</p>
      <p>Aun así, esto para llevarlo a cabo es muy complejo, por eso vamos a empezar explicando en los siguientes niveles lo más importante para comenzar a programar!</p>
    </div>
    <img src="imagen3.png" alt="Niño frente al ordenador" />
  </div>

  <div class="prueba">
    <div class="text">
      <h2>¿Para qué sirve un programa?</h2>
      <p>Un programa ayuda a los ordenadores a hacer tareas, como jugar a juegos, dibujar en la pantalla o cualquier tipo de instrucción que se quiera.</p>
      <p>¡Es como darle superpoderes a tu computadora!</p>
    </div>
    <img src="imagen4.png" alt="Robot mascota" />
  </div>

  <div class="prueba">
    <div class="text">
      <h2>¿Y cómo vamos a programar?</h2>
      <p>Para enseñarte a programar, vamos a usar un lenguaje llamado <strong>C++</strong>.</p>
      <p>Piensa en C++ como un idioma que los ordenadores entienden. Así como tú hablas español o inglés, los ordenadores "hablan" en lenguajes como C++, Python, Java...</p>
      <p>Este lenguaje nos permitirá enseñarte cosas muy interesantes, como hacer que el ordenador tome decisiones, repita acciones, o recuerde cosas.</p>
      <p>No te preocupes si al principio parece difícil. Iremos paso a paso y te explicaremos todo con ejemplos divertidos y fáciles de entender.</p>
      <p>¡Prepárate para convertirte en un verdadero superhéroe de la programación!</p>
    </div>
    <img src="imagen1.png" alt="Niño programando feliz" />
  </div>

  <button class="btn-finish" (click)="finishLevel()">Terminar nivel</button>
</div>
